 body {
   background: url("wall2p.jpg");
   background-size: 100% ;
   position: relative;
   overflow: hidden;
 }

 a :active {
    outline: none;
}  

a :focus {
	outline: none;
}

#navbar li {
    float: right;
	list-style: none;
	font-size: 25px;
	padding: 0px 10px;
	margin: 10px;
	white-space: nowrap;
	z-index: 999;
	text-shadow: 0 0 1px  #4d4dff;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
	padding: 10px 5px;
	text-decoration: none;
}

  .body {
	  padding: 5px;
  }
  
  #logo > h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    font-size: 100px;
	white-space: nowrap;
  }
  
  #logo {
	  width: 810px;
	  margin: 60px auto 0px;
	  text-align: center;
  }
  
  #logo-subtext {
	  text-align: center;

  }

  #logo-subtext > h2 {
	  color: white;
	  font-size: 37px;
	  font-family: 'Roboto Condensed', sans-serif;
      
  }
  
  #description {
	  margin: auto;
	  width: 620px;
  }
  
  #description div {
	 display: inline-block;
	 width: 200px;
  }
  
  #description h3 {
	  text-align: center;
	  font-size: 40px;
	  color: white;
	  font-family: 'Do Hyeon', sans-serif;
   } 
  
  #description h4 {
	  text-align: center;
	  font-size: 20px;
	  color: white;
	  font-family: 'Do Hyeon', sans-serif;
  }

  #ca {
	  width: 600px;
	  text-align: center;
	  margin: 60px auto;
  }
  
  #ca h3 {
	  color: white;
	  font-family: 'Do Hyeon', sans-serif;
	  font-size: 35px;
	  font-weight: bold;
  }
	  
#ca h2 {
	color: white;
	background-color: green;
	border: solid white 2px;
	width: 310px;
	margin: auto;
	padding: 15px;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 40px;
	margin-top: 20px;
	text-decoration: none;
}

#ca h2 :active {
	text-decoration: none;
}
@media only screen and (min-width: 900px) {
#navbar li a:hover {
    font-size: 35px;
    font-weight: bold;
}
#register-btn :hover{
	font-size: 41px;
	border: solid white 4px;
}
}

/* Modal overlay */

.login-modal-overlay {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}


/* modal */

.login-modal {
  background: #fff;
  max-width: 480px;
  width: 80%;
  height: 550px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-box-shadow: 0 -2px 25px 0 rgba(0, 0, 0, 0.15), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  padding: 30px;
  overflow: auto;
}


/* general styles */

.login-modal h1 {
  padding-top: 0;
  margin: 0;
  font-size: 18px;
  color: #333;
  padding-bottom: 10px;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
}

.login-modal h2 {
  font-size: 15px;
  color: #757575;
  hyphens: auto;
  padding-bottom: 30px;
  font-family: 'Fjalla One', sans-serif;
}

.login-modal .close {
	position: absolute;
	right: 10px;
	top: 5px;
	color:  #36454f;
	
}

.login-modal .close h4 {
	font-size: 35px;
}
.login-modal .button {
	color: white;
	background: #00B32C;
	border: 0;
	border-radius: 4px;
	font-size: 30px;
	font-family: 'Do Hyeon', sans-serif;
	padding: 5px;
	width: 150px;
}
	
.login-modal p {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: #383428;
}

.login-modal li {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: #383428;	
}
/* form & imputs */

.login-modal .group { 
	position: relative; 
	margin-bottom: 45px; 
}

.login-modal input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: transparent;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #cdcdcd;
}

.login-modal input:focus {
  outline: none;
}

.login-modal form {
	padding-bottom: 20px;
}
/* Label */

.login-modal label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}


/* active */

.login-modal input:focus ~ label,
.login-modal input.used ~ label {
	top: -20px;
  transform: scale(.75);
  left: -4px;
	color: #00A0E3;
}


/* Underline */

.login-modal .bar {
	position: relative;
	display: block;
	width: 100%;
}

.login-modal .bar:before,
.login-modal .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #00A0E3; 
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.login-modal .bar:before {
  left: 50%;
}

.login-modal .bar:after {
  right: 50%;
}


/* active */

.login-modal input:focus ~ .bar:before,
.login-modal input:focus ~ .bar:after {
  width: 50%;
}

@media only screen and (max-width: 600px) {
    body {
        overflow: auto;
		background-size: 290%;
    }
	
	#navbar li {
	font-size: 15px;
	padding: 0px 5px;
	margin: 3px;
	}
	
	  #logo > h1 {
    font-size: 37px;
  }
  
  #logo {
	  width: 98%;
	  margin: 100px auto 0px;
  }
  
   #logo-subtext > h2 {
	  font-size: 20px;    
  }
  
  #description{
	width: 218px;  
  }
  
  #description div {
	 width: 70px;
  }
  
  #description h3 {
	  font-size: 20px;
   } 
  
  #description h4 {
	  font-size: 12px;
  }
  
   #ca {
	  width: 300px;
	  margin: 60px auto;
  }
  
  #ca h3 {
	  font-size: 20px;
  }
	  
#ca h2 {
	border: solid white 2px;
	width: 200px;
	margin: auto;
	padding: 15px;
	font-size: 23px;
	margin-top: 20px;
}

	.login-modal {
	  height: 500px;
	}
	
	.login-modal h1 {
		font-size: 30px;
	}
	
	.login-modal h2 {
		font-size: 20px;
	}
	
	.login-modal p {
		font-size: 15px;
	}
	
	.login-modal li {
		font-size: 15px;
	}
}
